.hero__cardItem {
    display: grid;
    place-content: center;
    text-align: center;
    border: 2px solid #9fa2b4;
    font-size: 25px;
    color: #9fa2b4;
    border-radius: 8px;
    transition: color 0.3s ease;
    cursor: pointer;
}
.hero__cardItem:hover {
    color: #3751ff;
}
.hero__card-number {
    font-size: 50px;
}